@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pressura';
    src: url('/pressura.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gravity';
    src: url('/gravity.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

p {
    @apply font-sans pt-4 md:pt-6;
}

li {
    @apply pt-6 md:pt-8
}
